<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base::header"></div>
    <title>bookform</title>

</head>

<body>
<div th:replace="base::nav"></div>
<div class="container" align="center">
    <div class="jumbotron">
        <h1>Book Form</h1>
    </div>
    <form action="#" method="post" th:action="@{/process}" th:object="${book}">
        <input th:field="*{SKU}" type="hidden"/>
        <table>
            <tr>
                <td>SKU:</td>
                <td><input th:field="*{SKU}" type="text"/></td>
                <td><span th:errors="*{SKU}" th:if="${#fields.hasErrors('SKU')}"></span></td>
            </tr>
            <tr>
                <td>Title:</td>
                <td><input th:field="*{title}" type="text"/></td>
                <td><span th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></span></td>
            </tr>
            <tr>
                <td>Instructor:</td>
                <td><input th:field="*{author}" type="text"/></td>
                <td><span th:errors="*{author}" th:if="${#fields.hasErrors('author')}"></span></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea rows="4" cols="20" th:field="*{description}"></textarea></td>
                <td><span th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></span></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input th:field="*{price}" type="number"/></td>
                <td><span th:errors="*{price}" th:if="${#fields.hasErrors('price')}"></span></td>
            </tr>
            <tr>
                <td>In Stock:</td>
                <td><input th:field="*{inStock}" type="checkbox"/></td>
                <td><span th:errors="*{inStock}" th:if="${#fields.hasErrors('inStock')}"></span></td>
            </tr>
        </table>
        <input type="submit" value="Submit"/>
    </form>
</div>
<div th:replace="base::footer"></div>
</body>
</html>